
/** Header **/

.header {
    background-color: #FFD700;
    -moz-border-radius-bottomright: 30px;
    -moz-border-radius-bottomleft: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-bottom: 30px;
    border: 1px solid #f1cb00;
    color: #FFFFFF;
    text-shadow: 0px 2px 3px #f1cb00;
}

.header h1 {
    color: #FFFFFF;
    clear: none;
    padding: 25px;
}

.header em {
  font-size: 70%;
}

.header h3 {
     padding: 25px;
     color: #FFFFFF;
}

/** Header **/

.footer {
    background-color: #FFD700;
    color: #FFFFFF;
    text-shadow: 0px 2px 3px #f1cb00;
    padding: 25px;
    -moz-border-radius-topright: 30px;
    -moz-border-radius-topleft: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border: 1px solid #f1cb00;
}

.footer p {
    text-align: center;
}



